<section id="browseJumbo" class="sellerSection"layout="row" layout-align=" center center">
	<div layout="column" layout-align="center center">
		<h1>Carista. Set. Go.</h1>

	</div>

	<div layout="row" layout-align="center center">
		<img ng-src="./css/audi-banner.jpg" class="img-responsive" alt="Cinque Terre" width="600" height="450"/>


	</div>
</section>




<div class="vehicleGrid">
<div class="container"  layout="column" layout-align="center center">



<!-- 

<ul ng-repeat="vehicle in vehicles">
	<div layout="column">
 		 <div flex="50">
   		 <img ng-src="http://dq1jslmyx9epx.cloudfront.net/{{vehicle.pics[1]}}" class="img-responsive" alt="Cinque Terre" width="175" height="250"/>
  		</div>
   <div flex="50">
    <img ng-src="http://dq1jslmyx9epx.cloudfront.net/{{vehicle.pics[2]}}" class="img-responsive" alt="Cinque Terre" width="175" height="250"/>
  </div>

	<li>
		{{vehicle.make}}
		{{vehicle.model}}
		{{vehicle.year}}
		<img ng-src="http://dq1jslmyx9epx.cloudfront.net/{{vehicle.pics[0]}}" class="img-responsive" alt="Cinque Terre" width="500" height="250"/>
	</li>


	<button ng-click = "selectVehicle(vehicle)" type="submit" class="btn btn-success">Select This {{vehicle.model}}</button>

</ul> -->

<div ng-repeat="vehicle in vehicles">
		<div flex="100"> 
			<div class="row">
				<div id ="col1"class="col-sm-4">	
					<img ng-src="http://dq1jslmyx9epx.cloudfront.net/{{vehicle.pics[0]}}" class="img-responsive" alt="Cinque Terre" width="500" height="180" />
					<img ng-src="http://dq1jslmyx9epx.cloudfront.net/{{vehicle.pics[0]}}" class="img-responsive" alt="Cinque Terre" width="500" height="180" />
				</div>
				<div id ="col2" class="col-sm-8">	
					<img ng-src="http://dq1jslmyx9epx.cloudfront.net/{{vehicle.pics[0]}}" class="img-responsive" alt="Cinque Terre" width="735" height="500" />
				</div>
			</div>
	
			<div class="row">
				<div class="col-sm-10">
					<span class="name">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}} {{vehicle.email}}{{vehicle.tmv}}</span>
				</div>
				<div class="col-sm-2">

				</div>	
			</div>	
		</div>
</div>

</div>
</div>
