<section id="browseJumbo" class="sellerSection"layout="row" layout-align=" center center">
	<div layout="column" layout-align="center center">
		<h2>Car Buying Simplified.</h2>

	</div>

	<div layout="row" layout-align="center center">
		<img ng-src="./css/cls.JPG" class="img-responsive" alt="Cinque Terre" width="600" height="450"/>


	</div>
</section>

<div class="vehicleGrid">
<div class="container"  layout="column" layout-align="center center">
  <div class="searchCarDiv">
    <input id="searchCar" placeholder="Find your car"ng-model="searchText">
  </div>            
<div  class="row">
		<div class="container-fluid">
             <div id="watchMe" data-ng-repeat="vehicle in vehicles | filter:searchText" class="col-md-4 col-sm-6">
             	<div class="image-container">
    				<img id="browseImg" ng-src="http://dq1jslmyx9epx.cloudfront.net/{{vehicle.pics[0]}}" class="img-responsive" alt="Cinque Terre" />
<div id ="vehicleGridRow" layout="row" layout-align="start center">
  <div layout="column" layout-align="start center" >
  		<div class="vehicleData">  <h4> {{vehicle.make}} {{vehicle.model}} </h4> </div>
  		<div class="vehicleData"> <h4> {{vehicle.year}}</h4></div>

 	

  </div>
  <div id="vehiclePriceDiv">	
  	<h3>
  	${{vehicle.tmv}}
  	</h3>
  	<hr class="vehiclehr"/>
  	<h5>
  		{{vehicle.mileage}}
  	</h5>	
  </div>	

</div>
    			
    			<div class='after'>
    			<div  layout="column" layout-align="center center">	
    			<div id ="hoverBtnContainer">
    
    				   <md-button id="navsellerBtn" ui-sref="vehicleView">Select This {{vehicle.model}}</md-button>
    			</div>
    		</div>
</div>
			</div>

             </div>
        </div>     
</div>
</div>
</div>



