
<section id="congrats">
	

<div class="login-page">
	<div class="congratsContent" layout="column" layout-align="center center">
    	<h1>Thank you.</h1>
		<h1> Welcome to Carista!</h1>
		<h3> An Inspector will be in touch...</h3>
	</div>
</div> 



</section>
<section id="graziSection" class="container">
	<div class="row">
		<div class="col-sm-4" layout="column" layout-align="center center">
            <img src="./css/icon-114264.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">

			<h2> Schedule inspection.</h2>
			<p>A Carista will call shortly to schedule an inspection appointment. No need to do more. Our Carista will meet you, conduct a 200 point inspection, run a diagnostic, and give you the best listing price for your car. Then our Carista will clean your vehicle and take pictures for the listing. Simple and easy, the Carista way!</p>
		</div>
		<div class="col-sm-4" layout="column" layout-align="center center">
            <img src="./css/icon-130258.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">

			<h2>Listing Your Vehicle</h2>
			<p>Now that we have stunning photos of your car and the best price possible, we list your car on the Carista Platform. Now we just wait for the perfect buyer.</p>
		</div>	
			<div class="col-sm-4" layout="column" layout-align="center center">
            <img src="./css/icon-70007.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">

			<h2>Pickup and Delivery</h2>
		    <p>No need to get off the couch. Once the transaction has been completed our Carista will come and pick up your car, clean her up, and bring her to the proud new owner. Now it is your turn to shop for your next car!</p>
		</div>	

	</div>
</section>	