
<section id="congrats">
	

<div class="login-page">
	<div class="congratsContent" layout="column" layout-align="center center">
    	<h1>Thank you.</h1>
		<h3> You've joined the carista community</h3>
		<h2>heres whats next</h2>
	</div>
</div> 



</section>
<section class="container">
	<div class="row">
		<div class="col-sm-4" layout="column" layout-align="center center">
			<i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>

			<h2> Schedule inspection.</h2>
			<p>Once we inspect your vehicle. We give you the the best value for your vehicle. From there it is washed detailed and photographed. Ready to sell. But wait! Once we are done you drive until we sell. Who else cleans your car, and lets you drive until it is sold.</p>
		</div>
		<div class="col-sm-4" layout="column" layout-align="center center">
						<i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>

			<h2> List vehicle.</h2>
			<p>Carista lists your vehicle. Our buyers are financed, so it's easy as 1..2..3.. for buyers to purchase. 
		</div>	
			<div class="col-sm-4" layout="column" layout-align="center center">
							<i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>

			<h2> Pickup and deliver.</h2>
			 We'll give you a call and schedule a pickup time. Once the buyer accepts delivery the funds are deposited to your account of choice
		</div>	

	</div>
</section>	