
<br>
<br>
<br>
<br>
<br>
<br>

<section class="container">

	<div ng-controller="WizardCtrl">
    <wizard on-finish="finishedWizard()">
    	<div id="wizard" class="swMain">
						<!-- start: WIZARD SEPS -->
						<ul>
							<li ng-click="form.goTo(Form, 1)" class="">
								<a href="" ng-class="{'selected' : currentStep >= 1, 'done' : currentStep > 1}" class="selected">
									<div class="stepNumber">
										1
									</div>
									<span class="stepDesc text-small"> Vehicle Information </span>
								</a>
							</li>
							<li ng-click="form.goTo(Form, 2)">
								<a href="" ng-class="{'selected' : currentStep >= 2, 'done' : currentStep > 2}">
									<div class="stepNumber">
										2
									</div>
									<span class="stepDesc text-small"> Get a Quote</span>
								</a>
							</li>
							<li ng-click="form.goTo(Form, 3)">
								<a href="" ng-class="{'selected' : currentStep >= 3, 'done' : currentStep > 3}">
									<div class="stepNumber">
										3
									</div>
									<span class="stepDesc text-small"> Profile & Agreement </span>
								</a>
							</li>
							<li ng-click="form.goTo(Form, 4)">
								<a href="" ng-class="{'selected' : currentStep >= 4, 'done' : currentStep > 4}">
									<div class="stepNumber">
										4
									</div>
									<span class="stepDesc text-small"> Complete </span>
								</a>
							</li>
						</ul>
					</div>

	      <wz-step wz-title="Starting">
	      <div layout="column"       layout-align="center center">
	     <h2 class="stepTitle">Create A Profile With Us</h2>
<!-- 
	     <p> Sellers we’ve got your back. If your car needs repair our mechanics will give you an estimate for repair including a detailed report. Once the repairs are made we will your car reinspect for free </p> -->
	    <md-button class="fb-login-btn"  ng-disabled="!checkbox1 || !checkbox2" ng-click="fblogin()"></md-button>
        <md-button class="google-login-btn"  wz-next value="Finish now"  ng-disabled="!checkbox1 || !checkbox2" ng-click="googleLogin()"></md-button>
        <br>
        <h4 class="stepTitle">Get on the road to selling your car</h4>
        <br>
        <br>
        <br>	
      
</div>
        	<button class="btn btn-primary btn-o next-step btn-wide pull-right" type="submit" wz-next value="Continuing">
			Next <i class="fa fa-arrow-circle-right"></i>
		</button>
		<br>
		<br>
		<br>

      </wz-step>				
      <wz-step wz-title="Continuing" id="starterkit" >
							<div class="row">
								<div class="col-md-5">
									<div class="padding-30">
										<i class="fa fa-smile-o fa-4x" id="caristaSmiley" aria-hidden="true"></i>
										<h2 class="stepTitle">Enter your vehicle Information</h2>

			<p class="step-small">This information will allow us to generate an instant quote for your vehicle</p>

									
									</div>
								</div>
								<div class="col-md-7">
									<fieldset>
									
										<div class="row">
											<div class="col-md-6">
												<div class="form-group" ng-class="{'has-error':Form.firstName.$dirty &amp;&amp; Form.firstName.$invalid, 'has-success':Form.firstName.$valid}">
													<label>
														Vin <span class="symbol required"></span>
													</label>
													<input type="text" placeholder="Enter full vin number" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" name="vin" ng-model="vin.vin" ng-required="currentStep == 1" required="required">
														<button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-hide="form.hide" ng-click ="inputVin(vin)" type="submit">
											Enter Vin <i class="fa fa-arrow-circle-down"></i>
										</button>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group" ng-class="{'has-error':Form.lastName.$dirty &amp;&amp; Form.lastName.$invalid, 'has-success':Form.lastName.$valid}">
													<label class="control-label">
														Mileage <span class="symbol required"></span>
													</label>
													<input type="text" placeholder="Enter your Vehicle Mileage" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" name="lastName" ng-model="form.mileage">
													<!-- ngIf: Form.lastName.$dirty && Form.lastName.$invalid -->
													<!-- ngIf: Form.lastName.$valid -->
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
													<div class="form-group">
													<label ng-hide="!vin.vin" class="block">
														Choose Your Vehicle Style
													</label>
													<div  class="clip-radio radio-primary">
														<ul >
														<li id="blah" ng-repeat="style in vehicleStyles">
														<input type="radio" id="wz-female" name="gender" value="{{form.styleId}}" ng-model="form.hide" ng-click="selectStyle(INPUT)" class="ng-pristine ng-untouched ng-valid">
																{{vehicleInfo.years[0].year}} -
													         	{{vehicleInfo.make}} -
													            {{vehicleInfo.model.name}} - 
													            {{style.name}} 
													            {{style.id}}
														</li>
														
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>
														Choose your Zipcode
													</label>
													<input type="text" placeholder="Enter your zipcode: 90043" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" name="lastName" ng-model="form.zip">
												</div>
											</div>
										</div>
										<p>
											<a href="#" uib-popover="Your personal information is not required for unlawful purposes, but only in order to proceed in this tutorial" popover-placement="top" popover-title="Don't worry!">
												Why do you need my vehicle information?
											</a>
										</p>
									</fieldset>
									<br>
									<br>

								</div>
										<div class="form-group">
										  <button class="btn btn-primary btn-o back-step btn-wide pull-left"  wz-previous value="Starting">
				<i class="fa fa-arrow-circle-left"></i> Back
		</button>
										<button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="completeForm(form)" type="submit" wz-next value="Valuation">
											Next <i class="fa fa-arrow-circle-right"></i>
										</button>
									</div>
							</div>

      </wz-step>
      <wz-step wz-title="Valuation">
         <div class="row">
	      	<div class="col-md-6">
			  	<h1 class="stepTitle">Carista Value | ${{vehicleData.usedPrivateParty}}</h1>
<!-- 			  	<h3>${{vehicleData.usedPrivateParty}}</h3>
 --><!-- 			  	<h4>ADD CLEAN VALUE ALSO</h4>
 -->	    </div>	
	      	<div class="col-md-6">
			  	<h1 class="stepTitle">Trade-In Value | ${{vehicleData.usedTradeIn}}</h1>
			  	<h3></h3>
	      	</div>	
         </div> 	

         <section>
         	<fieldset>
         	<div class="row">
	         	<div class="col-sm-5">
	         		<h2 class="stepTitle">Besides Offering More...</h2>
	         		<p>We make selling your car too easy. Our buyers are verified and ready to purchase before you deal with them.</p>
	         		<p>No tire kickers. drive til' sold</p>
	         	</div>

	         	<div class="col-sm-7">	
		         	<div id ="prop" class="row">
		         		<div class="col-md-6">
		         			<ul>
		         				<li>
		         					<div class = "sellerValueProp">
		         						<i class="fa fa-check" id="caristaSmiley"  aria-hidden="true"></i>
										We take care of transferring title and liens
									</div>
								</li>
		         				<li>
		         					<div class = "sellerValueProp">
		         						<i class="fa fa-check" id="caristaSmiley"  aria-hidden="true"></i>
									 	150 point inspection assures buyers of quality, resulting in a faster sale.
									</div> 	
								</li>
		         				<li>
		         			        <div class = "sellerValueProp">
		         						<i class="fa fa-check" id="caristaSmiley"  aria-hidden="true"></i>
		         						Receive payment via ACH, Check, or Debit
		         					</div>	
		         				</li>
		         			</ul>	
		         		</div>	
		         		<div class="col-md-6">
							<ul>
		         				<li>		         					
		         					<div class = "sellerValueProp">
										<i class="fa fa-check" id="caristaSmiley"  aria-hidden="true"></i> No Infrastructure: Carista has no lots, no sales people; just a flat fee for listing.
									</div> 
								</li>
		         				<li>
		         					<div class = "sellerValueProp">
		         						<i class="fa fa-check" id="caristaSmiley"  aria-hidden="true"></i> We use leading valuation technology to get you the best price for your car
		         					</div>	
		         				</li>
		         				<li>
		         					<div class = "sellerValueProp">
		         						<i class="fa fa-check" id="caristaSmiley"  aria-hidden="true"></i> Affordable: Our only fee is $199, no matter what your car sales for
		         					</div>	
		         				 </li>
		         			</ul>
		         		</div>
		         	</div>
	        	</div>
         	</div>	
        	</fieldset>
         </section>	

         <section>
								<h1 class="stepTitle">Our Price: $199</h1>
								<h5> * Sellers pay this fee for the insection, high end photos of the vehicle, and a complete seller profile on Carista.</h5>
								<h5> * Best of all if you sell your car before we do. Notifying us is a click away. That's it</h5>
								<h5> * Welcome to the Carista way to sell your car</h5> 
		 </section>	
		 <br>

		<div class="form-group">
			<button class="btn btn-primary btn-o back-step btn-wide pull-left"  wz-previous value="Starting">
				<i class="fa fa-arrow-circle-left"></i> Back
			</button>
			<button class="btn btn-primary btn-o next-step btn-wide pull-right"  wz-next value="Terms">
				Next <i class="fa fa-arrow-circle-right"></i>
			</button>
		</div>
		<Br>
		<br>	

	  </wz-step>

      <wz-step wz-title="Terms">
      <div layout="column"       layout-align="center center">

      <h2 class= "stepTitle"> Sellers we’ve got your back.</h2>
      <br>
      <p class= "stepTitle"> * If your car needs repair our mechanics will give you an estimate for repair including a detailed report.</p>
      <p class= "stepTitle"> * Once approved the platform will handle your listings and advertising.</p>
      <p class= "stepTitle"> * Our fees are flat, no hidden fees, hassles, taxes or middlemen.  The earnings are passed on to you.
	<br>
		<br><div class="form-group" layout="column"       layout-align="center center" >

        <label class="checkbox"><input type="checkbox" value="" data-ng-model="checkbox2" ng-required="true"> <a ui-sref="terms">Terms & Conditions</a> </label>
        	<label class="checkbox">
      <input type="checkbox" value="" data-ng-model="checkbox1" ng-required="true"><a ui-sref="privacy">Privacy</a> </label>
  </div>
    </div>
    <br>
    <br>
        		<button class="btn btn-primary btn-o back-step btn-wide pull-left"  wz-previous value="Starting">
				<i class="fa fa-arrow-circle-left"></i> Back
			</button>
                <button type="submit" wz-next value="Continuing" class="btn btn-primary btn-o next-step btn-wide pull-right" ng-disabled="!checkbox1 || !checkbox2">Submit</button>
                <Br>
               	<br>

      
      	  </wz-step>

      <!-- STEP 3 -->
      
    </wizard>


    <Br>
    	<Br>
    		<Br>
    			<Br>
    				<Br>
  </div>










</section>
