
<br>
<br>
<br>
<br>
<br>
<br>

<section class="container">

	<div ng-controller="WizardCtrl">
    <wizard on-finish="finishedWizard()">
    	<div id="wizard" class="swMain">
						<!-- start: WIZARD SEPS -->
						
		</div>
					
      <wz-step wz-title="Profile" id="starterkit">
      	<div layout="column" layout-align="center center" class="ng-scope layout-align-center-center layout-column">
			     <h2 class="stepTitle">Create A Profile With Us</h2>
		<!-- 
			     <p> Sellers we’ve got your back. If your car needs repair our mechanics will give you an estimate for repair including a detailed report. Once the repairs are made we will your car reinspect for free </p> -->
			    <button class="fb-login-btn md-button md-ink-ripple" type="button"  ng-click="fblogin()"></button>
		        <button class="google-login-btn md-button md-ink-ripple" type="button"  ng-click="googleLogin()"></button>
		        <br>
		        <h4 class="stepTitle">Get on the road to selling your car</h4>
		                
		        <div id="ctn" class="container"><p>By signing up, I agree to ReDrive's <a ui-sref="terms" href="#/terms">Terms Of Service</a>, Payments Terms of Service, <a ui-sref="privacy" href="#/privacy">Privacy Policy</a>, and <a ui-sref="#">Seller Refund Policy</a></p></div>
		        <br>
		        <br>
		        <br>	
		</div>
		
		{{loggedUser.email}}
		<button class="btn btn-primary btn-o next-step btn-wide pull-right"  wz-next value="Info">
				Next <i class="fa fa-arrow-circle-right"></i>
		</button>
	    <br>
    	<br>
    	<br>
    </wz-step>

    <wz-step wz-title="Info" id="starterkit" >



							<div class="row">
								<div class="col-md-5">
									<div class="padding-30">
										<i class="fa fa-smile-o fa-4x" id="caristaSmiley" aria-hidden="true"></i>
										<h2 class="stepTitle">Enter your vehicle Information</h2>
			<h4 class="step-small">This information will allow us to generate an instant quote for your vehicle</h4>

									
									</div>
								</div>
								<div class="col-md-7">
									<fieldset>
									
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>
														Vin <span class="symbol required"></span>
													</label>
													<input type="text" placeholder="Enter full vin number"  name="vin" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="vin.vin">
														<button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-hide="form.hide" ng-click ="inputVin(vin)" type="submit">
														Enter Vin <i class="fa fa-arrow-circle-down"></i>
														</button>
										<div ng-messages="exampleForm.userFirstName.$error">
  <div ng-message="required">This field is required</div>
</div>

												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group" ng-class="{'has-error':Form.lastName.$dirty &amp;&amp; Form.lastName.$invalid, 'has-success':Form.lastName.$valid}">
													<label class="control-label">
														Mileage <span class="symbol required"></span>
													</label>
													<input type="text" placeholder="Enter your Vehicle Mileage" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" name="lastName" ng-model="form.mileage">
													<!-- ngIf: Form.lastName.$dirty && Form.lastName.$invalid -->
													<!-- ngIf: Form.lastName.$valid -->
												</div>
											</div>
										</div>

									<!-- 		<input type="radio" id="wz-female" name="gender" value="{{form.styleId}}" ng-model="form.hide" ng-click="selectStyle(input)">
																{{vehicleInfo.years[0].year}} -
													         	{{vehicleInfo.make}} -
													            {{vehicleInfo.model.name}} - 
													            {{style.name}} 
													            {{style.id}} -->
										<div class="row">
											<div class="col-md-6">
													<div class="form-group">
													<label ng-hide="!vin.vin" class="block">
														Choose Your Vehicle Style
													</label>
													<div  class="clip-radio radio-primary">
														<div ng-show="error">
														{{error}}
														</div>
														  <ul>

												          	<li id="blah" ng-hide="error" ng-repeat="style in vehicleStyles">
												          	<input type="checkbox"  ng-click="selectStyle(style)">	
												          	 {{vehicleInfo.years[0].year}} -
												          	 {{vehicleInfo.make}} -
												              {{vehicleInfo.model.name}} - 
												              {{style.name}} 
												              
												      		</li>
												          </ul>														
												   </div>
												</div>


											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>
														Choose your Zipcode
													</label>
													<input type="text" placeholder="Enter your zipcode: 90043" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" name="lastName" ng-model="form.zip">
												</div>
											</div>
										</div>
										<p>
											<a href="#" uib-popover="Your personal information is not required for unlawful purposes, but only in order to proceed in this tutorial" popover-placement="top" popover-title="Don't worry!">
												Why do you need my vehicle information?
											</a>
										</p>
									</fieldset>
									<br>
									<br>

								</div>
										<div class="form-group">
						<button type="submit" wz-previous value="Profile" class="btn btn-primary btn-o back-step btn-wide pull-left"><i class="fa fa-arrow-circle-left"></i>Back</button>	

						<button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-disabled="!vin.vin || !form.mileage || !form.zip || !passed" ng-hide="error" class="ng-hide" ng-click="completeForm(form)" type="submit" wz-next value="Valuation">
											Next <i class="fa fa-arrow-circle-right"></i>
										</button>
									</div>
							</div>
							   <br>
    	<br>
    	<br>
      </wz-step>


      <wz-step wz-title="Valuation">
         <div class="row">
	      	<div class="col-sm-6">
			  	<h1 class="stepTitle">ReDrive Value | ${{vehicleData.usedPrivateParty}}</h1>
<!-- 			  	<h3>${{vehicleData.usedPrivateParty}}</h3>
 --><!-- 			  	<h4>ADD CLEAN VALUE ALSO</h4>
 -->	    </div>	
	      	<div class="col-sm-6">
			  	<h1 class="stepTitle">Trade-In Value | ${{vehicleData.usedTradeIn}}</h1>
			  	<h3></h3>
	      	</div>	
         </div> 	

         <section>
         	<fieldset>
         	<div class="row">
	         	<div class="col-sm-5">
	         		<h2 class="stepTitle">Besides Offering More...</h2>
	         		<p>We make selling your car too easy. Our buyers are verified and ready to purchase before you deal with them.</p>
	         		<p>No tire kickers. drive til' sold</p>
	         	</div>

	         	<div class="col-sm-7">	
		         	<div id ="prop" class="row">
		         		<div class="col-md-6">
		         			<ul>
		         				<li>
		         					<div class = "sellerValueProp">
		         						<i class="fa fa-check" id="caristaSmiley"  aria-hidden="true"></i>
										We take care of transferring title and liens
									</div>
								</li>
		         				<li>
		         					<div class = "sellerValueProp">
		         						<i class="fa fa-check" id="caristaSmiley"  aria-hidden="true"></i>
									 	150 point inspection assures buyers of quality, resulting in a faster sale.
									</div> 	
								</li>
		         				<li>
		         			        <div class = "sellerValueProp">
		         						<i class="fa fa-check" id="caristaSmiley"  aria-hidden="true"></i>
		         						Receive payment via ACH, Check, or Debit
		         					</div>	
		         				</li>
		         			</ul>	
		         		</div>	
		         		<div class="col-md-6">
							<ul>
		         				<li>		         					
		         					<div class = "sellerValueProp">
										<i class="fa fa-check" id="caristaSmiley"  aria-hidden="true"></i> No Infrastructure: ReDrive has no lots, no sales people; just a flat fee for listing.
									</div> 
								</li>
		         				<li>
		         					<div class = "sellerValueProp">
		         						<i class="fa fa-check" id="caristaSmiley"  aria-hidden="true"></i> We use leading valuation technology to get you the best price for your car
		         					</div>	
		         				</li>
		         				<li>
		         					<div class = "sellerValueProp">
		         						<i class="fa fa-check" id="caristaSmiley"  aria-hidden="true"></i> Affordable: Our only fee is $199, no matter what your car sales for
		         					</div>	
		         				 </li>
		         			</ul>
		         		</div>
		         	</div>
	        	</div>
         	</div>	
        	</fieldset>
         </section>	

         <section>
								<h1 class="stepTitle">Our Price: $199</h1>
								<h5> * Sellers pay this fee for the insection, high end photos of the vehicle, and a complete seller profile on Carista.</h5>
								<h5> * Best of all if you sell your car before we do. Notifying us is a click away. That's it</h5>
								<h5> * Welcome to the Carista way to sell your car</h5> 
		 </section>	
		 <br>

		<div class="form-group">
			<button class="btn btn-primary btn-o back-step btn-wide pull-left"  wz-previous value="Valuation">
				<i class="fa fa-arrow-circle-left"></i> Back
			</button>
			<button class="btn btn-primary btn-o next-step btn-wide pull-right"  wz-next value="Terms">
				Next <i class="fa fa-arrow-circle-right"></i>
			</button>
		</div>
		<Br>
		<br>	
		<br>

	  </wz-step>

<wz-step wz-title="Terms">
      <div layout="column"       layout-align="center center">

      <h2 class= "stepTitle"> Sellers we’ve got your back.</h2>
      <br>
      <p class= "stepTitle"> * If your car needs repair our mechanics will give you an estimate for repair including a detailed report.</p>
      <p class= "stepTitle"> * Once approved the platform will handle your listings and advertising.</p>
      <p class= "stepTitle"> * Our fees are flat, no hidden fees, hassles, taxes or middlemen.  The earnings are passed on to you.
	<br>
		<br><div class="form-group" layout="column"       layout-align="center center" >

        <label class="checkbox"><input type="checkbox" value="" data-ng-model="checkbox2" ng-required="true"> <a ui-sref="terms">Terms & Conditions</a> </label>
        	<label class="checkbox">
      <input type="checkbox" value="" data-ng-model="checkbox1" ng-required="true"><a ui-sref="privacy">Privacy</a> </label>
  </div>
    </div>
    <br>
    <br>
        		<button type="submit" wz-prev value="Valuation" class="btn btn-primary btn-o next-step btn-wide pull-left">Back</button>
                <button type="submit" wz-next value="Payment" class="btn btn-primary btn-o next-step btn-wide pull-right" ng-disabled="!checkbox1 || !checkbox2">Next</button>
                <Br>
               	<br>
               	<br>

      
      </wz-step>





      <wz-step wz-title="Payment">
      <div layout="column"       layout-align="center center">
	     <h2 class="stepTitle">Payment</h2>
	     <p>GO INSIDE</p>
			<form layout="column" layout-align="center center" stripe-form="stripeCallback">
			    <input ng-model="card.number" placeholder="Card Number" />
			    <input ng-model="card.exp_month" placeholder="Expiration Month" />
			     <input ng-model="card.exp_year" placeholder="Expiration Year" />
			    <input ng-model="card.cvc" placeholder="CVC" />
			    <button ng-click="stripeCallback(card)" type="submit">Submit</button>
			</form>


	     <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.drivecarista.com' target='_blank' rel='nofollow'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
	     <br>
	     <div ng-hide="!successfulPayment">
	     <div ng-hide="unsuccessfulPayment">
	     	<h3>Your Payment of: ${{successfulPayment}} </h3>
	     	<p ng-model ="successfulPayment" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"></p>
	     	<p>has been processed</p>
	     </div>	
	     <div ng-hide="successfulPayment">
	     	<h3  >Sorry :{{unsuccessfulPayment}}</h3>
	     	<p ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"></p>
	     </div>	
	 	</div>
		<br>
	  </div>	
		

			<button class="btn btn-primary btn-o back-step btn-wide pull-left"  wz-prev value="Terms">
				<i class="fa fa-arrow-circle-left"></i> Back
			</button>
        <button class="btn btn-primary btn-o next-step btn-wide pull-right" type="submit" wz-next value="Inform">
			Next <i class="fa fa-arrow-circle-right"></i>
		</button>
		   <br>
    	<br>
    	<br>

    </wz-step>

  <wz-step wz-title="Inform">
      <div layout="column"       layout-align="center center">
	     <h2 class="stepTitle">Inform Page</h2>
	     <p>We will be in contact :)</p>
	</div>

	<button class="btn btn-primary btn-o next-step btn-wide pull-left" type="submit">
        <a ui-sref="/sellerProfile">
			Next <i class="fa fa-arrow-circle-right"></i>
		</a>
	</button>
    </wz-step>
    </wizard>
  </div>
</section>
<br>
<br>
<br>

