<div id="homejumbo" class="jumbotron">
		<div class="confidenceOverlay">

	<div class="container">
    <div class="content" layout="column" layout-align="start start">	
    
    	<p>Welcome to the new  community</p>
    	<p>Redefining the automotive experience</p>


<!--     	<div class="jumboHr"></div>
 -->
       <!--   <p>Our offers are better than what you'll get in the market.             All our cars come fully certified with a 250 point check.</p> -->
         <div class="btnGrp" layout="row" layout-align="start start">
         	 <a ui-sref="signupVehicle"><md-button  id="sellerBtn" class="md-raised">Seller</md-button></a>
      		<a ui-sref="signup"><md-button id="buyerBtn" class="md-raised">Buyer</md-button></a>
         
          
         </div>   
      
    </div>
      </div> 
    <div class="box">

 	</div> 
 	<br>
    
</div>
</div>

<section id="benefits">

<div class="container">	

<div layout="row" layout-align="center center">
  <div class="one" layout="column" layout-align="start center">
   <img src="./css/icon-seller.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">

  	<h2 style="color: rgb(88, 125, 249);">Seller</h2>
  	<hr></hr>
  	<br>
  	<h3>Earn More</h3>
  	<hr></hr>
  	<p>Sell your car for it’s true value, guaranteed!</p>
 	<br> 
  	<h3>Simplicity</h3>
  	<br>
  	<p>We inspect, photograph, clean, and deliver</p>
  	<br>
  	<h3>Sold</h3>
  	<p>If your car isn’t sold in 45 days, Carista is Free</p>


  </div>
  <div class="one" layout="column" layout-align="start center">
   <img src="./css/cart.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">

  	<h2 style="color: rgb(88, 125, 249);"> Buyer</h2>
  	<hr></hr>
  	<br>
  	<h3>Best Prices</h3>
  	<hr></hr>
  	<p>No Markups, Middlemen or Dealership Fees</p>
  	<h3>Buying Ease</h3>
  	<br>
  	<p>Clear Pricing, Hassel Free, No Pushy Salesmen</p>
  	<h3>Reliable</h3>
  	<br>

  	<p>200 Point Inspection, Accurate Valuation</p>
  	<p>What are you waiting for?</p>
  </div>
</div>	
</div>

</section>

<section id="howItWorks">
  <div class="container">
	<div class="row">
		<div class="col-sm-2">
			<h4>How it</h4>
			<h1>Works</h1>
		</div>
		<div class="col-sm-2">
			 <img src="./css/icon-114250.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
			 <hr>
			<h4>Sign up with Carista</h4>
			<p>Provide basic information about you and your vehicle</p>
		</div>
		<div class="col-sm-2">
			 <img src="./css/inspection.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
			 			<hr>

			<h4>Vehicle Inspection and Valuation</h4>
			<p>Schedule an inspection and photo-shoot for your vehicle</p>

		</div>
		<div class="col-sm-2">
			 <img src="./css/listing.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
					<hr>
	 
			<h4>Vehicle is Listed</h4>
			<p>Your Carista Certified car is listed, attracting prospective buyers in our community</p>
		</div>
		<div class="col-sm-2">
			 <img src="./css/find.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
			<hr>
 
			<h4>Buyer Finds Car</h4>
			<p> Photo & Inspection reports allow buyers to make informed decision</p>
		</div>
		<div class="col-sm-2">
			 <img src="./css/transfer.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
			 <hr>

			<h4>Ownership Transfers</h4>
			<p>Carista automates the transfer and delivery process; so sit back and relax.</p>
		</div>
    </div>
  </div>
</section>
<!-- <section id="sellerconfidence">
	<div class="confidenceOverlay">
	  <div class="container">
		<div class="row">
			<div id="confidence" class="col-sm-6">
				<h1>Sell with Confidence</h1>

					  <div class="row">
					<div class="col-sm-3">
						 <img src="./css/ico-seller.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
						 		<hr></hr>

						easy
					</div>	
					<div class="col-sm-3">
						<img src="./css/ico-seller.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
								<hr></hr>

	
						simple
					</div>
					<div class="col-sm-3">
						<img src="./css/ico-seller.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
		<hr></hr>
						convenient
					</div>
				   </div>
				   				<h3>Selling your car was never this easy</h3>

				<ul class="fa-ul">
					  <li><i class="fa-li fa fa-check"></i>250-point inspection</li>
					  <li><i class="fa-li fa fa-check"></i>12 months warranty</li>
					  <li><i class="fa-li fa fa-check"></i>Free roadside assist</li>
					  <li><i class="fa-li fa fa-check"></i>DMV handled</li>
					  <li><i class="fa-li fa fa-check"></i>We Deliver</li>
					  <li><i class="fa-li fa fa-check"></i>No haggling</li>
					  <li></i>Sell or Buy a car in a click.</li>
  				</ul>
				<br>
				<div class="confidenceCarista">
					

				
				</div>
					  

			</div>	
			
			<div class="col-sm-6">
			
			</div>	
		</div>
		<!-- 	<ul class="fa-ul">
					  <li><i class="fa-li fa fa-check"></i>250-point inspection</li>
					  <li><i class="fa-li fa fa-check"></i>12 months warranty</li>
					  <li><i class="fa-li fa fa-check"></i>Free roadside assist</li>
					  <li><i class="fa-li fa fa-check"></i>DMV handled</li>
					  <li><i class="fa-li fa fa-check"></i>We Deliver</li>
					  <li><i class="fa-li fa fa-check"></i>No haggling</li>
					  <li></i>Sell or Buy a car in a click.</li>
  				</ul> -->
	<!--   </div>
	</div>	
</section> -- -->>






