
<div id="homejumbo" class="jumbotron">
		<div class="confidenceOverlay">

	<div class="container">
    <div ng-controller="AppCtrl"  class="content" layout="column" layout-align="start start">

    	<p>Welcome to the Community</p>
    	<p>Redefining the automotive experience.</p>


         <div class="btnGrp" layout="row" layout-align="start start">
          <md-button ui-sref="login" sclass="md-raised">login</md-button>
         	<md-button ng-click="showSellerAlert($event)" id="sellerBtn" class="md-raised">Seller</md-button>
      		<md-button ng-click="showBuyerAlert($event)"id="buyerBtn" class="md-raised" >Buyer</md-button>


         </div>

    </div>
      </div>
    <div class="box">

 	</div>
 	<br>

</div>
</div>
<section id="benefits">
<div class="container">

<div layout="row" layout-xs="column" layout-align="center center">
  <div class="one" layout="column" layout-align="start center" >
   <img src="./css/icon-seller.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">

  	<h1 style="color: rgb(88, 125, 249);">Seller</h1>

  	<h2>Earn More</h2>
  	<p>Sell your car for it’s true value, guaranteed!</p>
  	<h2>Simplicity</h2>
  	<p>We inspect, photograph, clean, and deliver </p>
  	<h2>Sold</h2>
  	<p>If your car isn’t sold in 45 days, Carista is Free</p>


  </div>
  <div class="one" layout="column" layout-align="start center">
   <img src="./css/steering.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">

  	<h1 style="color: rgb(88, 125, 249);"> Buyer</h1>
  	<h2>Best Prices</h2>
  	<p>No Markups, Middlemen or Dealership Fees</p>
  	<h2>Buying Ease</h2>
  	<p>Clear Pricing, Hassle Free, No Pushy Salesmen</p>
  	<h2>Reliable</h2>
  	<p>200 Point Inspection, Accurate Valuation</p>

  </div>
</div>
</div>

</section>

<section id="howItWorks">
  <div class="container">
	<div class="row">
		<div class="col-sm-2">
			<h2>How it</h2>
			<h1>Works</h1>
		</div>
		<div class="col-sm-2">
			 <img src="./css/icon-114250.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
			 <hr>
			<h4>Sign up with Carista</h4>
			<p>Provide basic information about you and your vehicle</p>
		</div>
		<div class="col-sm-2">
			 <img src="./css/inspection.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
			 			<hr>

			<h4>Vehicle Inspection and Valuation</h4>
			<p>Schedule an inspection and photo-shoot for your vehicle</p>

		</div>
		<div class="col-sm-2">
			 <img src="./css/thegarage.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
					<hr>
			<h4>Car gets listed</h4>
			<p>Your Carista certified car gets listed to attract prospective buyers in our communty</p>

		</div>
		<div class="col-sm-2">
			 <img src="./css/find.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
			<hr>

			<h4>Buyer finds car</h4>
			<p>Photos & Inspection report allow buyers to make informed decision</p>
		</div>
		<div class="col-sm-2">
			 <img src="./css/transfer.png" class="img-responsive" alt="Cinque Terre" width="75" height="50">
			 <hr>

			<h4>Ownership Transfers</h4>
			<p>Carista automates the transfer and delivery process; so sit back and relax.</p>
		</div>
    </div>
  </div>
</section>
