
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="All of our cars go through a rigorous 250-point inspection. Our inspection is carried out with an independent tester who has 30+ years experience in the industry.">
        <meta name="_token" content="ijSQftyLh3tBtoGQ4fUwcVuVbCc1Lrg72LGPFpkQ"/>
        <link rel="stylesheet" type="text/css" href="https://www.topacar.com/bry/css/style.css">
        <link rel="stylesheet" type="text/css" href="https://www.topacar.com/bry/css/custom.css">
        <link rel="stylesheet" type="text/css" href="https://www.topacar.com/css/assets/global/plugins/font-awesome/css/font-awesome.min.css" />
                <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
div.wrapper.hero-wrapper {
    background: #007BA7;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    display: inline-block;
    padding-bottom: 80px;
}
</style>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://www.topacar.com/bry/js/modernizr.custom.js"></script>
        <title>Topacar 250 Point Inspection </title>
    </head>
    <body>

        <div id="o-wrapper" class="o-wrapper">
            <div class="wrapper hero-wrapper">
                <nav class="cbp-af-header">
                    <div id="nav-wrapper" class="cbp-af-inner">
                        <a href="/" class="logo-topacar"><img src="https://www.topacar.com/bry/img/logo-topacar.png" /><span>Australia</span></a>
                        <div class="c-buttons">

                            <button id="c-button--slide-right" class="c-button"></button>
                        </div>
                        <div class="menuitem">
                                                        <a href="/auth/login">Login </a>
                            <a href="/auth/register">Register</a>
                                                        <a href="/faq">FAQ</a>
                            <a href="http://pitstop.topacar.com/" target='_blank'>Blog</a>
                            <a href="/#howitwork">How it works?</a>
                        </div>
                        <a href="/sell-your-car"  class="button btn-sell">Sell</a>
                        <a href="/car_search" class="button btn-buy" id='buybutton'>Buy</a>
                    </div>
                </nav>
                <section id="static_header">
    <div class='col-md-9 col-lg-9 col-sm-10 col-xl-9'>
        <h1>Topacar 250 point Inspection</h1>
        <Br>
        <p>We take pride in the cars that we sell. All of them go through a rigorous 250-point inspection. Our inspection is carried out with an independent tester who has 30+ years experience in the industry.</p>
        <p>So rest assured that any car bought through us is the highest of quality and presents itself immaculately otherwise we will tell you what is wrong with it EXACTLY. We ensure there are no surprises because it is Topacar Certified</p>
    </div>
</section>

            </div>



<!-- header-wrapper end here -->
<div class="banner-logo-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-12 col-sm-12 col-lg-12"  style='z-index:100'>
                <div class="banner-logos">
                    <div class="col-md-1 col-xl-1 col-sm-1 col-lg-1">
                        <span class="bnr-logo-pic"><img src="https://www.topacar.com/img/logo-bnr-01.png" alt=""></span>
                    </div>
                    <div class="col-md-2 col-xl-2 col-sm-2 col-lg-2">
                        <span class="bnr-logo-pic"><img src="https://www.topacar.com/img/logo-bnr-02.png" alt=""></span>
                    </div>
                    <div class="col-md-2 col-xl-2 col-sm-2 col-lg-2">
                        <span class="bnr-logo-pic"><img src="https://www.topacar.com/img/logo-bnr-03.png" alt=""></span>
                    </div>
                    <div class="col-md-2 col-xl-2 col-sm-2 col-lg-2">
                        <span class="bnr-logo-pic"><img src="https://www.topacar.com/img/logo-bnr-04.png" alt=""></span>
                    </div>
                    <div class="col-md-2 col-xl-2 col-sm-2 col-lg-2">
                        <span class="bnr-logo-pic"><img src="https://www.topacar.com/img/logo-bnr-05.png" alt=""></span>
                    </div>
                    <div class="col-md-3 col-xl-3 col-sm-3 col-lg-3">
                        <span class="bnr-logo-pic"><a href="http://www.stateroads.com.au/warranty/" target="_blank"><img src="https://www.topacar.com/img/logo-bnr-06.png" alt=""></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- banner-logo-wrap end here -->

<div class='wrapper'>
    <div class=" inner-car-wrap static_container">
        <div class="container">
            <div class="col-md-5 col-lg-5 col-sm-5 col-xl-5">
                <div class="left-car-sec">
                    <h3>The Basics: Visual and Functional Assessment</h3>
                    <ul class="car-dtl-list">
                        <li>
                            Make / Model
                        </li>
                        <li>
                            Paint / Trim Color
                        </li>
                        <li>Mileage
                        </li>
                        <li>Title &amp; Registration
                        </li>
                        <li>Smog Receipt
                        </li>
                        <li>No Open Recalls
                        </li>
                        <li>VIN matching
                        </li>
                        <li>Repairable Write-off
                        </li>
                        <li>PPSR
                        </li>
                        <li>Warranty provided
                        </li>
                        <li>Vehicle History
                        </li>
                        <li>Identity
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='wrapper'>
    <div class=" inner-grey-car-wrap static_container">
        <div class="container">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xl12">
                <div class="inner-car-dtl-sec">
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xl-7">
                        <div class="left-car-sec">

                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-5 col-xl-5">
                        <div class="right-car-sec">
                            <h3>Checking the exterior with a fine-tooth comb</h3>
                            <ul class="car-dtl-list">
                                <li>paint depth testing
                                </li>
                                <li>Major body repairs
                                </li>
                                <li>Turn signal lights
                                </li>
                                <li>Fog lamps
                                </li>
                                <li>Tail lights
                                </li>
                                <li>Emergency flasher Hazard Lights
                                </li>
                                <li>Headlights
                                </li>
                                <li>Rust and Rust repairs
                                </li>
                                <li>Brake lights
                                </li>
                                <li>Parking lamps
                                </li>
                                <li>License plate light
                                </li>
                                <li>Reverse lamps
                                </li>
                                <li>Windscreen
                                </li>
                                <li>Door operations
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class='wrapper'>
    <div class=" inner-car-wrap-01 static_container">
        <div class="container">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12">
                <div class="inner-car-dtl-sec">
                    <div class="col-md-5 col-lg-5 col-sm-5 col-xl-5">
                        <div class="left-car-sec">
                            <h3>Vehicle Road Test: Performance, Transmission, Steering &amp; Suspension</h3>
                            <ul class="car-dtl-list">
                                <li>Transmission / Clutch performance
                                </li>
                                <li>Automatic Transmission performance during cold / warm up temperature
                                </li>
                                <li>Steering has normal feel in lock-to-lock turning
                                </li>
                                <li>Vehicle drives straight on level surface
                                </li>
                                <li>Vehicle does not pull to the side when applying brakes
                                </li>
                                <li>Steering wheel centered
                                </li>
                                <li>No abnormal noise or vibration from suspension
                                </li>
                                <li>No abnormal tire noise / road noise
                                </li>
                                <li>No abnormal squeaks and rattles from interior
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-lg-7 col-xl-7">
                        <div class="right-car-sec">
                                <span class="car-demo-pic"><img src="https://www.topacar.com/images/car-03.jpg" alt="" title="">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12">
                <div class="parts-section">
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xl-4">
                        <ul class="car-dtl-list">
                            <li>Carpet
                            </li>
                            <li>Interior lights
                            </li>
                            <li>Exterior mirrors
                            </li>
                            <li>Heater operation
                            </li>
                            <li>Steering wheel
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xl-4">
                        <ul class="car-dtl-list">
                            <li>Sun roof
                            </li>
                            <li>Seat belts
                            </li>
                            <li>Fuel &amp; temperature gauges
                            </li>
                            <li>Air vents
                            </li>
                            <li>Wipers
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xl-4">
                        <ul class="car-dtl-list">
                            <li>A/C operation
                            </li>
                            <li>Park brake
                            </li>
                            <li>Horn
                            </li>
                            <li>Electric windows
                            </li>
                            <li>Dash board
                            </li>
                            <li>Warning lights
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- inner-car-wrap end here -->

<div class='wrapper'>
    <div class=" internal-txt-wrap static_container">
        <div class="container">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12">
                <div class="internal-txt-sec">
                    <div class="left-txt-sec col-md-5 col-lg5 col-sm-5 col-xl-5">
                        <p>"We ensure that our cars are of the highest quality, accident free and our inspections themselves come with 15-day warranty.</p>

                    </div>
                    <div class="right-txt-sec col-md-5 col-lg5 col-sm-5 col-xl-5">
                        <p>In fact, we are so confident that we are also providing an additional 12 months warranty insurance and free road-side assist with all cars bought through Topacar</p>

                        <p>Why not treat yourself to a Topacar?”</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- internal-txt-wrap --->
</div>

<div class="wrapper">
    <section class="getintouch">
        <div class="footer-sell">
            <a href="/sell-your-car" class="sellwithus button btn-sell">Sell</a>
            <a href="/car_search" class="buywithus button btn-buy">Buy</a>
            <h4>with confidence, convenience and quality</h4>
        </div>
    </section>
</div>

            <div class="wrapper footer">
                <section class="footer split4">
                    <div class="split-sec1">
                        <ul>
                            <li> <a href="/sell-your-car"  >Sell a Car</a></li>
                            <li><a href="/car_search">Buy a Car</a></li>
                            <li><a href="/#howitwork">How It Works</a></li>
                            <!--<li><a href="/#whyusetopacar">Why Use Topacar</a></li>-->
                            <li><a href="/checkpoints">Topacar Certified Advantage</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="#contact-us" data-toggle="modal">Contact Us</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="http://pitstop.topacar.com/" target='_blank'>Blog</a></li>

                        </ul>
                    </div>
                    <div class="split-sec2">
                        <h5>Popular Searches</h5>
                        <p>Ford, Ford Fiesta, Hatchbacks, Black cars, Sports cars, Used BMW, Small cars, Used Audi, Black Audi, SLK, Black Convertibles, Cheap small cars</p>
                    </div>

                    <div class="split-sec3">
                        <h5>Popular Makes</h5>
                        <ul class="carmaker">
                            <li><img src="https://www.topacar.com/bry/img/logo-bmw.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-mercedes.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-toyota.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-nissan.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-honda.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-subaru.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-mazda.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-holden.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-volkwagen.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-audi.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-peugeot.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-mitsubishi.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-lexus.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-volvo.png"></li>
                            <li><img src="https://www.topacar.com/bry/img/logo-mini.png"></li>
                        <ul>
                    </div>
                    <div class="split-sec4">
                        <ul>
                            <li>
                                <!-- <a href="https://www.facebook.com/topacar" target="_blank"><img src="/bry/img/facebook.png"></a>&nbsp;&nbsp;
                                <a href="https://twitter.com/TopACar" target="_blank"><img src="/bry/img/twitter.png"></a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/company/topacar" target="_blank"><img src="/bry/img/in.png"></a> -->
                            </li>
                            <li><a href="tel:+61435734748"><i class="fa fa-phone"></i> +61 435 734 748</a></li>
                            <li><a href='https://goo.gl/maps/R28BN8b6TF92' target='_blank'><i class="fa fa-map-marker"></i> 37 Kolora Road, Heidelberg West, 3081, VIC, Australia</a></li>
                            <li><a href="/buyer-terms-conditions">Buyer T&C</a></li>
                            <li><a href="/seller-terms-conditions">Seller T&C</a></li>
                        </ul>

                    </div>
                    <div class="clear"></div>
                    <div class="copyright-statement">
                        <p>Copright 2016 Topacar</p>
                    </div>
                </section>
            </div>
        </div><!-- /o-wrapper -->


        <nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
            <button class="c-menu__close"></button>
            <div class="clear"></div>
            <ul class="c-menu__items">
                <li class="c-menu__item"><a href="/" class="c-menu__link">Home</a></li>
                <li class="c-menu__item"><a href="/about" class="c-menu__link">About</a></li>
                <li class="c-menu__item"><a href="/checkpoints" class="c-menu__link">Topacar Certified Advantage</a></li>
                <li class="c-menu__item"><a href="/faq" class="c-menu__link">FAQ</a></li>
                <li class="c-menu__item"><a href="http://pitstop.topacar.com/" class="c-menu__link" target='_blank'>Blog</a></li>
                <li class="c-menu__item"><a href="#contact-us" data-toggle="modal" class="c-menu__link">Contact</a></li>
                <li class="c-menu__item"><a href="car_search" class="c-menu__link button btn-buy">Buy</a><a href="/sell-your-car" class="c-menu__link button btn-sell">Sell</a></li>
            </ul>
        </nav><!-- /c-menu slide-right -->

        <!--pop subscription-->
        <div class="modal fade" id="subpop_form" tabindex="-1" role="dialog" aria-labelledby="subscription" >
            <div class="modal-dialog"   style="max-width: 500px;margin-top:115px; ">
                <div class="modal-content " id="modalsubpop" style="min-width: 300px;" >
                    <!--                    <div class='modal-header'>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style='color:#fff'></button>

                                        </div>-->
                    <div class="modal-body" style="min-height: 340px;">
                        <div class='subpopcontent'>
                            <h2 style='color:#fff;'>Looking To Buy Or Sell A Car?</h2>
                            <p>We can help you make the right decisions. Join our email newsletter for updates on our latest range, and tips on how to sell and buy the right car with confidence.</p>
                            <form id="subscribe_form" action="/subscribe_submit" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-7 control-label">Let us know whether you are</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="sub_type" id="sub_type_buyer" value="buyer" checked="checked"> Buyer
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="sub_type" id="sub_type_seller" value="seller"> Seller
                                    </label><br><br>
                                    <input type="text" id="sub_email" name="sub_email" placeholder="Email Address" class="form-control">
                                    <button>Subscribe</button>
                                    <div id="subpopresponsemsg" style="padding: 18px 14px 0;font-weight: 600;float: left;">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end pop subscription-->
        <!--Contact us-->

        <div id="contact-us"  class="modal fade modal-form" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" style="margin-top:115px;z-index:2000;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Contact Us</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="contact_form" action="/contact_submit" method="post">
                                    <div class=" topacar-contact-add">
                                        <div class="form-group">
                                            <div class="col-md6 col-sm-6 col-xl6 magin-btm-12">
                                                <input type="text" name="contact_name" class="required" placeholder="Name">
                                            </div>
                                            <div class="col-md6 col-sm-6 col-xl6 magin-btm-12">
                                                <input type="text" name="contact_email" class="required email" placeholder="Email">
                                            </div>
                                        </div>
                                        <!-- form group end here -->
                                        <div class="form-group">
                                            <div class="col-md6 col-sm-6 col-xl6 magin-btm-12">
                                                <input type="text" name="contact_contact" placeholder="Contact">
                                            </div>
                                            <div class="col-md6 col-sm-6 col-xl6 magin-btm-12">
                                                <input type="text" name="contact_location" placeholder="Location">
                                            </div>
                                        </div>
                                        <!-- form group end here -->
                                        <div class="form-group">
                                            <div class="col-md12 col-sm-12 col-xl12">
                                                <textarea cols="10" rows="10" name="contact_detail" placeholder="Inquiry Details"></textarea>
                                            </div>
                                        </div>
                                        <!-- form group end here -->

                                        <div class="form-group">
                                            <div class="col12">
                                                <div class="submit-form">
                                                    <button type='submit' class="side-submit-btn">Submit</button>
                                                </div>
                                            </div>
                                            <div class="col12">
                                                <div class="submit-form" style="height:0;">
                                                    <div id='responsemsg' style='padding: 10px;font-weight: 600;width:400px;'></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- form group end here -->
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="row">
                            <br><br>
                            <div class="col-lg-5"><a href="tel:+61435734748"><i class="fa fa-phone"></i> +61 435 734 748</a></div>
                            <div class="col-lg-7"><a href='https://goo.gl/maps/R28BN8b6TF92' target='_blank'><i class="fa fa-map-marker"></i> 37 Kolora Road, Heidelberg West, 3081, VIC, Australia</a></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--end contact us-->
        <div id="c-mask" class="c-mask"></div><!-- /c-mask -->

        <script src="https://www.topacar.com/bry/js/classie.js"></script>
        <script src="https://www.topacar.com/bry/js/menu.js"></script>
        <script src="https://www.topacar.com/js/frontend/jquery.backstretch.min.js"></script>
        <script src="https://www.topacar.com/js/frontend/jquery.cookie.js"></script>
                <script src="https://www.topacar.com/js/custom/subpop.js"></script>
                <script>
var cbpAnimatedHeader = (function () {

    var docElem = document.documentElement,
            header = document.querySelector('.cbp-af-header'),
            didScroll = false,
            changeHeaderOn = 50;

    function init() {
        window.addEventListener('scroll', function (event) {
            if (!didScroll) {
                didScroll = true;
                setTimeout(scrollPage, 250);
            }
        }, false);
    }

    function scrollPage() {
        var sy = scrollY();
        if (sy >= changeHeaderOn) {
            classie.add(header, 'cbp-af-header-shrink');
        }
        else {
            classie.remove(header, 'cbp-af-header-shrink');
        }
        didScroll = false;
    }

    function scrollY() {
        return window.pageYOffset || docElem.scrollTop;
    }

    init();

})();
        </script>
        <script>


            /**
             * Slide right instantiation and action.
             */
            var slideRight = new Menu({
                wrapper: '#o-wrapper',
                type: 'slide-right',
                menuOpenerClass: '.c-button',
                maskId: '#c-mask'
            });

            var slideRightBtn = document.querySelector('#c-button--slide-right');

            slideRightBtn.addEventListener('click', function (e) {
                e.preventDefault;
                slideRight.open();
            });


        </script>

        <script>
//            $(function () {
//                $('#contact-us form#contact_form').validate();
//            });

            var contactfrm = $('#contact_form');
            contactfrm.submit(function (e) {
                e.preventDefault();
                $('#responsemsg').html('');
                if (!$.trim($("#responsemsg").html()))
                {
                    $.ajaxSetup({
                        headers: {'X-CSRF-Token': $('meta[name=_token]').attr('content')}
                    });

                    var formData = {
                        'contact_name': $('input[name=contact_name]').val(),
                        'contact_email': $('input[name=contact_email]').val(),
                        'contact_contact': $('input[name=contact_contact]').val(),
                        'contact_location': $('input[name=contact_location]').val(),
                        'contact_detail': $('input[name=contact_detail]').val()
                    };
                    $('#responsemsg').append('Thanks for your inqury. We will contact you shortly!');
                    $.ajax({
                        url: "/contact_submit",
                        type: "POST",
                        dataType: "json",
                        data: contactfrm.serialize(),
                        //data: {posttext: $.trim($("#posttext").val())},
                        success: function (data) {

                        },
                        error: function (xhr, status, error)
                        {

                        }
                    });
                }
            });

            function isValidEmailAddress(emailAddress) {
                var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
                return pattern.test(emailAddress);
            }
            ;

        </script>

                        <!-- Google Analytics -->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-65040609-1', 'auto');
            ga('send', 'pageview');

        </script>

        <!-- Start of topacar Zendesk Widget script -->
        <script>/*<![CDATA[*/window.zEmbed || function (e, t) {
                var n, o, d, i, s, a = [], r = document.createElement("iframe");
                window.zEmbed = function () {
                    a.push(arguments)
                }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document;
                try {
                    o = s
                } catch (c) {
                    n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
                }
                o.open()._l = function () {
                    var o = this.createElement("script");
                    n && (this.domain = n), o.id = "js-iframe-async", o.src = e, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
                }, o.write('<body onload="document._l();">'), o.close()
            }("//assets.zendesk.com/embeddable_framework/main.js", "topacar.zendesk.com");/*]]>*/</script>

        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 934495398;
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/934495398/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>
        <!-- end Google Code for Remarketing Tag -->


    </body>

</html>
