<br>



<br>
<div id="buyerProfileJumbo" class="jumbotron">

	<div layout="row">
  <div flex="80">
  	  <h1>Hello,</h1>
     <h1> {{profile.email}} </h1>
     {{profile.photos}}
  </div>
  <div flex="20">
  </div>

</div>
</div>
<br>

<div class="row">
	<div class="container">
	<div class="col-sm-6">
		<h1>Your Credit Score is {{results.creditScore}}</h1>

		<div>
		<ul ng-hide="pickedLoan">
			<li ng-repeat="loan in results.loans">
				Ammount Approved for: {{loan.approval}}
				Apr: {{loan.apr}}
				Months: {{loan.months}}
				Monthly Payment: {{loan.payments}}
				<button ng-click="pickLoan(loan)">I want this loan</button>
			</li>
		</ul>
		<ul ng-show="pickedLoan">
			<li>{{profile.loan[0]}}</li>

		</ul>	
		</div>

		<h1>Your Vehicle</h1>

       <ul ng-repeat = "car in profile.car">
  		 <li>{{car.make}}</li>
  		 <li>{{car.model}}</li>
  		 <li>{{car.year}}</li>
  	   </ul>
    </div>
	<div class="col-sm-6">
		<ul ng-repeat = "car in profile.car">

		<div ng-repeat = "pic in car.pics" layout="row">
          <div flex><img ng-src="http://dq1jslmyx9epx.cloudfront.net/{{pic}}" class="img-responsive" alt="Cinque Terre" width="175" height="250" /></div>
        </div>

		</ul>
	</div>
</div>
</div>

<br>
<!-- <div class="jumbotron">
<ul ng-repeat = "car in profile.car">
	<li><div layout="column">
  		<div flex><h3>{{car.make}}</h3></div>
  		<div flex><h3>{{car.model}}</h3></div>
  		<div flex><h3>{{car.year}}</h3></div>
  		<div ng-repeat = "pic in car.pics" layout="row">
       <div flex><img ng-src="http://dq1jslmyx9epx.cloudfront.net/{{pic}}" class="img-responsive" alt="Cinque Terre" width="175" height="250" /></div>
    </div>
  	    </div>

	</li>

	<li>

    </li>

</ul>


</div> -->



<button ng-click = "creditCheck()" type="submit" class="btn btn-success">Check you Credit!</button>

<button ng-click = "logout()" type="submit" class="btn btn-success">logout</button>

</div>
