<div class="jumbotron">

	This form covers the entire agreement between Carista Inc., D.B.A Redrive, A Delaware C Corporation, and you, the Seller. Seller is responsible to read the entirety of this document, and agrees to all the term and conditions condition within this document.

TOTALITY OF SERVICES
The following is a list of the services provided by Redrive to the Seller. These services are included after the seller has paid the Preparation for Online Sales Fee of $199.
150 Point Inspection: This inspection is performed by an ASE certified mechanic in accordance with the Redrive inspection form. Seller is entitled to a copy of this form once the inspection has been completed.
Wash and Detail: Redrive will wash and detail the interior and exterior of the car in preparation for pictures. Redrive will also wash and detail the car on the day of transfer to the buyer.
Valuation: Redrive will uses leading industry technology to value the Seller’s Car.
Photos: Redrive will take 8-12 photos of the interior and exterior of the vehicle to be used by both the Seller and Redrive. Seller will receive a digital copy of these photos.
Redrive Seller Profile: Redrive will create a Seller Profile Page on the Redrive Site (www.Redrive.co).
Title Transfer: Redrive will assist the Seller with transferring title to either the either the Buyer or Buyer’s Bank; this includes electronic lien transfer or DMV forms.
Access to the Redrive network of qualified buyers. 
48 HOUR SALES WINDOW
In the event a Buyer offers the Seller the Redrive Valuation price for Seller’s car, Seller agrees to release Her/His car within 48 hours of the offer.
SALE PRICE
By signing this agreement Seller agrees to sell their car at the Redrive Valuation. The Redrive Valuation price is determined after Redrive receives the information from the basic intake form and VIN number. This price is a flat fee. Once Seller has agreed to the Redrive Valuation, Seller will be permitted to purchase the Redrive suite of services. By purchasing the Redrive suite of services, seller agrees to sell Her/His car at the Redrive Valuation price. 



PERMISSIVE USE OF AUTO FOR NON-AUTO BUSINESS PURPOSES
Seller authorizes Redrive Inc. to operate the Seller’s car for the sole purpose of taking photographs, cleaning, and driving Seller’s car, at the request of the seller, to the vehicle inspection location. Seller agrees that these services are unrelated to the actual sale of the vehicle.
LISTING PERIOD SELLER AUTO USAGE AND RESTRICTIONS
Seller agrees to list His/Her car on the Redrive platform for a period of 60 days from the date of the initial inspection.
Seller agrees to drive no more than 2,000 miles during the listing period. In the case that the Seller drives more than 2,000 miles during the 60 day listing period, Seller will be required to pay for the reinspection of the car prior to the sale of the car.
Seller agrees to inform Redrive if the Seller’s car is in an automobile accident, or is damaged in anyway, including but not limited to fire, floods, falling objects, any natural or man made disasters, including a presidential election with a poor outcome. 
In the case where the Seller’s car is damaged seller may, at Her/His own cost have the car re-inspected, and may list the car on Redrive for the new value.
In the case of an accident Seller agrees that Her/His car will be removed from the platform in accordance with Redrive’s zero accident policy. Further Seller agrees that they will not be refunded any or all of the listing fee paid to Redrive.
By listing Seller’s car on the Redrive platform, Seller agrees that they are not aware, nor should they be aware, of any hidden defect, at the time of listing,  that were not discovered or disclosed during the inspection process. Seller further agrees that in the instance of such defect Seller’s car will be removed from the platform, Seller forfeits any and all rights to any monetary refund, and Seller will be banned from the Redrive platform and community.
PERMISSIVE USE OF SOCIAL MEDIA PROFILE/S
Seller agrees to provide Redrive Inc. access to the Seller’s Facebook profile page, and profile picture for the purpose of identity verification, creation of Seller profile page, and the creation of the Redrive automotive community.
Seller consents to Redrive usage of the Seller’s Facebook profile picture to be used on the Redrive Seller Profile Page. In the event that Seller does not consent, or Seller would prefer an alternate picture, Seller is required to provide Redrive with a clear picture of Seller’s face for identification and Safety Purpose, as well as the creation of a community.

Redrive’S ZERO TOLERANCE POLICY
Seller agrees to Redrive’s Zero Tolerance Policy, which restrictions the selling or listing of any car on the Redrive platform that has been in an accident.
In the case that Seller intends to deceive, deceives, conceals, or in any form intends or successful misinforms Redrive regarding the accident history of his/her car, Seller assumes full liability to both buyer and Redrive. 








</div>
