<div id="sellerJmb" class="jumbotron">

  <div class="login-page">
  <div class="form">

    <form class="login-form">
      <h4>Carista helps you sell your car conveniently.</h4>

      <input type="text" ng-model="vehicle.email" placeholder="Email"/>
      <input type="password" ng-model="vehicle.password" placeholder="Password"/>
      <input type="number"ng-model="vehicle.phone" placeholder="Phone Number"/>
      <input type="text" ng-model="vehicle.make" placeholder="Make"/>
      <input type="text" ng-model="vehicle.model" placeholder="Model"/>
      <input type="number"ng-model="vehicle.year" placeholder="Year"/>



      <button ng-click = "signupVehicle(vehicle)" type="submit" class="btn btn-success">Sell my car for me!</button>


      <p class="message">Already have an account? <a ui-sref="loginVehicle">Login</a></p>
    </form>
  </div>


</div>
</div>
