<div id="sellerJmb" class="jumbotron">

<h1>Signup Buyer</h1>

  <div class="login-page">
 <div class="form buyLogin">
  <form class="login-form">
    <h4>Carista helps you buy a car conveniently.</h4>
    <input type="text" ng-model="buyer.email" placeholder="email"/>
    <input type="password" ng-model="buyer.password" placeholder="password"/>
    <button ng-click="signup(buyer)" type="submit" class="btn btn-success">buy a car for me!</button>


    <p class="message">Already have an account? <a href="#">Login!</a></p>
  </form>
</div>
</div>
</div>
