<div class="jumbotron">
<h2>Terms Of Service</h2>
<br>  
<p>
Carista (referred to as "Carista", "we", "us", or "our") services an online  peer to peer platform that provides individuals who are selling or buying cars with services such as car inspection, washing, pictures, access to financing,  and assitance with the completion of the sales transaction (the “Services”), which are accessible at http://www.drivecarista.com (the “Site”), and as links that can be put on other sites. By using the Site and Application, you agree to comply with and be legally bound by the terms and conditions of these Terms of Service ("Terms"), whether or not you become a registered user of the Services. These Terms govern your access to and use of the Site, Services and all Content (defined below), and constitute a binding legal agreement between you and Carista. 
Please read carefully these Terms. If you do not agree to these Terms, you have no right to obtain information from or otherwise continue using the Site or Application. Failure to use the Site in accordance with these Terms may subject you to civil and criminal penalties.
YOU UNDERSTAND AND AGREE THAT CARISTA IS NOT A PARTY TO ANY AGREEMENTS ENTERED INTO BETWEEN SELLERS AND BUYERS, NOR IS CARISTA A DEALERSHIP, AN AGENT, AN ADMINISTRATOR, OR AN INSURER.
</p>
<br>
<h3>Modification</h3>
<p>Carista reserves the right, at its sole discretion, to modify the Site, Application or Services or to modify these Terms at any time and without prior notice. If the modified Terms are not acceptable to you, your only recourse is to cease using the Site, Application and Services.</p>
<br>
<h3>Eligibility</h3>
<p> The Site, and Services are intended solely for persons who are 18 or older. Any access to or use of the Site, or Services by anyone under 18 is expressly prohibited. By accessing or using the Site, or Services you represent and warrant that you are 18 or older.</p>
<br>
<h3>How the Site, Application and Services Work</h3>
<p> Carista makes available a platform, community, or marketplace with related technology for Sellers and Buyers to simplify the selling and buying of cars. Carista is not an owner or re-seller of vehicles, an operator of a dealership, or a provider of financing. Carista’s responsibilities are limited to: (i) Management of the Site, and Services (Providing an ASE mechanic for the 150 point inspection, washing cars, pictures of cars, access to a lending partner, access to a warranty provider, assistance with title transfer, and good will cheer, happiness, and generally accepted forms of joy not typically associated with the car buying process.)
</p>
<br>
<h3>User Liability</h3> 
<p> By using the Site you, as the user, agree that any legal remedy or liability that you seek to obtain for actions or omissions of any and all other community members/users will be limited to a claim against that particular community member/user who caused you harm.</p>
<br>
<h3>Taxes</h3>
 <p> You understand and agree that you are solely responsible for determining your Tax reporting for any vehicle that you sell or purchase with help of Carista. Carista is not a provider of Tax-related advice or services.</p>
<br>
<h3>User Conduct</h3>
<p> You understand and agree that you, the user, are solely responsible for compliance with any and all laws, rules, regulations, and Tax obligations that may apply to you while using of the site, or any services provided by the site.</p>
<br>
<h3>Entire Agreement</h3>
<p> These terms constitute the entire agreement between Carista and you regarding the Site.
</p>
<br>
</div>



