

<section id="vehicleBanner">
  <div class="carousel" id="slider">
  <ol class="carousel-indicators">
    <li ng-repeat="pic in vehicle.pics" data-target="#slider" data-slide-to="item" ng-class="{active : $first}"></li>
  </ol>
  
 

    <div class="carousel-inner">
        <div class="item" ng-class="{active:$first}"  ng-repeat="pic in vehicle.pics">
            <img src="http://dq1jslmyx9epx.cloudfront.net/{{pic}}" >
        </div>
    </div>

    <a class="left carousel-control" href="#slider"  ng-click='setFilters($event)' role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Prev</span>
    </a> 

    <a class="right carousel-control" href="#slider"  ng-click='setFilters($event)' role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>

</div>

</section>

<section id ="vehicleInfo">
    <div id="carNav">
      <div class="row">
          <div class="col-xs-6 col-sm-3" layout="column" layout-align="center center" id="dividerPrice">
            <ul>

               <li><h3>{{vehicle.make}} {{vehicle.model}}</h3></li>
               <li><h4>Year: {{vehicle.year}}</h4></li>

               <li><h4>{{vehicle.mileage}} miles</h4></li>
            </ul>
          </div> 
          <div class="col-xs-6 col-sm-3" layout="column" layout-align="center center" id="dividerPriceTwo">
            <ul>  
              <li><h3>${{vehicle.tmv}}</h3></li>

              <li><h4>{{vehicle.views}} people viewed this car</h4></li> 
              <li><i id ="yours"class="fa fa-heart" aria-hidden="true"></i> Make it yours!</li> 
            </ul>  

          </div> 
          <div class="hidden-xs col-sm-6" layout="row" layout-align="center center">            
              <ul class="ch-grid">
                <li>
                  <div class="ch-item ch-img-1">
                    <div class="ch-info">
                      <h3>Carista saves money.</h3>
                      <p>On average, we beat dealership prices by 10%</a></p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="ch-item ch-img-2">
                    <div class="ch-info">
                      <h3>This car passes our Inspection</h3>
                      <p>Accident free</p>
                      <p>Excellently Maintained</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="ch-item ch-img-3">
                    <div class="ch-info">
                      <h3> A car buying experience you can smile about.</h3>
                      <p>The listing price is the final price, no dealership or hidden fees.</p>
                    </div>
                  </div>
                </li>
              </ul>
          </div> 
    </div>

 </div>
</section> 

<div id="grayZone">
    <div class="container">
      <div class="row">
        <div class="col-sm-6" layout="column" layout-align="center center">
            <div id="colBox" layout="column" layout-align="center center">
            <span class="specialQoute">Carista 200-point inspection</span>
            <img src="./css/40.jpg" class="img-responsive" alt="Cinque Terre" width="500  d" height="200">

            <p>This {{vehicle.year}} {{vehicle.make}} {{vehicle.model}}

            has a clean title, we have ensured that this car is in good mechanical condition. Not only did it pass our rigorous 200 point inspection. We have checked for any fluid or oil leaks, ensuring the drivetrain and chassis are in good condition, no pesky warning lights and no surprises. We've got your back!</p>
          </div>

        </div>  
        <div class="col-sm-6" layout="column" layout-align="center center">
          <div class= "box">
            <form class="boxForm" layout="column" layout-align="center center">
               <md-input-container class="input">
                   <label>Name</label>
                      <input ng-model="inquiry.name">
               </md-input-container> 
                <md-input-container class="input">
                   <label>Email</label>
                      <input ng-model="inquiry.email">
               </md-input-container> 
                <md-input-container class="input">
                   <label>Phone</label>
                      <input ng-model="inquiry.phone">
               </md-input-container> 

               <button id="sendInquiry" ng-click ="inquire(inquiry)"> I want this {{vehicle.model}}!</button>


            </form>   

          </div>  
        </div>
      </div>  

    </div>  
</div>  

<section>



</section>  


