

<section id="vehicleBanner">
<div id="vehicleImage" class="image-container">
	<img ng-src="http://dq1jslmyx9epx.cloudfront.net/{{vehicle.pics[currentPic]}}" class="img-responsive" alt="Cinque Terre" />
	<div id="vehicleAfter" class="after">
		<div id ="vehicleArrow"layout="row" layout-align="space-between center">
  <div><a href=""ng-click="decrease()">
  	<div>
  	<i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
  </div>
</a></div>
  <div><a href="" ng-click="increase()"><div class ="iconCarousel"><i class="fa fa-angle-right fa-5x" aria-hidden="true"></div></i>
</a></div>

</div>
	</div>	

</div>	

</section>

<!-- <section id="vehicleInfo">
<div class="container">
	<div class="col-sm-5">
		<div ng-controller="AppCtrl"  layout="row" layout-align="center center">
			<div class="square" layout="row" layout-align="center center">   <md-button id="vehBuyerBtn" class="navBtn" ng-click="inquireAlert($event)">Buy Me</md-button></div>
		</div>
	</div>	
	<div class="col-sm-7">
<div layout="row" layout-align="center start">
  <div><div class="circle" layout="row" layout-align="center center" data-popover-template="'popTemplate.html'" data-popover-trigger=""><i class="fa fa-smile-o fa-4x" aria-hidden="true"></i>
</div></div>
  <div><div class="circle" layout="row" layout-align="center center"> <i class="fa fa-clipboard fa-4x" aria-hidden="true"></i> 
</div></div>
  <div><div class="circle" layout="row" layout-align="center center">
  	<i class="fa fa-usd fa-4x"></i>

    </div>

  </div></div>
</div>
	</div>

<div layout="row" layout-align="center center">
  <div class="vehicleDetail" layout="column" layout-align="center center">
  	<div layout="column" layout-align="center center">  <h4>Finally a car buying experience everyone can smile about</h4><i id="smile"class="fa fa-smile-o fa-4x" aria-hidden="true"></i>


</div>
  	<div><h1>{{vehicle.make}}</h1></div>
  	<hr class="style-one"></hr>
  	<div><h1>{{vehicle.model}}</h1></div>
  	<hr class="style-one"></hr>

  	<h1>{{vehicle.year}}</h1>
  	<hr class="style-one"></hr>

  	<h1>{{vehicle.tmv}}</h1>
  	<hr class="style-one"></hr>



  </div>
</div>

</div>


</section> -->

<section id ="vehicleInfo">
    <div id="carNav">
      <div class="row">
          <div class="col-xs-6 col-sm-3" layout="column" layout-align="center center" id="dividerPrice">
            <ul>

               <li><h3>{{vehicle.make}} {{vehicle.model}}</h3></li>
               <li><h4>Year: {{vehicle.year}}</h4></li>

               <li><h4>{{vehicle.mileage}} miles</h4></li>
            </ul>
          </div> 
          <div class="col-xs-6 col-sm-3" layout="column" layout-align="center center" id="dividerPriceTwo">
            <ul>  
              <li><h3>${{vehicle.tmv}}</h3></li>

              <li><h4>{{vehicle.views}} people viewed this car</h4></li> 
              <li><i id ="yours"class="fa fa-heart" aria-hidden="true"></i> Make it yours!</li> 
            </ul>  

          </div> 
          <div class="hidden-xs col-sm-6" layout="row" layout-align="center center">            
              <ul class="ch-grid">
                <li>
                  <div class="ch-item ch-img-1">
                    <div class="ch-info">
                      <h3>Carista saves money.</h3>
                      <p>On average, we beat dealership prices by 10%</a></p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="ch-item ch-img-2">
                    <div class="ch-info">
                      <h3>This car passes our Inspection</h3>
                      <p>Accident free</p>
                      <p>Excellently Maintained</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="ch-item ch-img-3">
                    <div class="ch-info">
                      <h3> A car buying experience you can smile about.</h3>
                      <p>The listing price is the final price, no dealership or hidden fees.</p>
                    </div>
                  </div>
                </li>
              </ul>
          </div> 
    </div>

 </div>
</section> 

<div id="grayZone">
    <div class="container">
      <div class="row">
        <div class="col-sm-6" layout="column" layout-align="center center">
            <div id="colBox" layout="column" layout-align="center center">
            <span class="specialQoute">Carista 200-point inspection</span>
            <img src="./css/40.jpg" class="img-responsive" alt="Cinque Terre" width="500  d" height="200">

            <p>This {{vehicle.year}} {{vehicle.make}} {{vehicle.model}}

            has a clean title, we have ensured that this car is in good mechanical condition. Not only did it pass our rigorous 200 point inspection. We have checked for any fluid or oil leaks, ensuring the drivetrain and chassis are in good condition, no pesky warning lights and no surprises. We've got your back!</p>
          </div>

        </div>  
        <div class="col-sm-6" layout="column" layout-align="center center">
          <div class= "box">
            <form class="boxForm" layout="column" layout-align="center center">
               <md-input-container class="input">
                   <label>Name</label>
                      <input ng-model="inquiry.name">
               </md-input-container> 
                <md-input-container class="input">
                   <label>Email</label>
                      <input ng-model="inquiry.email">
               </md-input-container> 
                <md-input-container class="input">
                   <label>Phone</label>
                      <input ng-model="inquiry.phone">
               </md-input-container> 

               <button id="sendInquiry" ng-click ="inquire(inquiry)"> I want this {{vehicle.model}}!</button>


            </form>   

          </div>  
        </div>
      </div>  

    </div>  
</div>  









<!-- 
<img ng-src="http://dq1jslmyx9epx.cloudfront.net/{{vehicle.pics[currentPic]}}" class="img-responsive" alt="Cinque Terre" width="1600" height="100%" /> -->






 <!-- <div class="row">
 	<div class="col-sm-3">

 		<div layout="column">
  <div flex>{{vehicle.make}} {{vehicle.model}} </div>
 
  <div flex>{{vehicle.year}} {{vehicle.mileage}}</div>
</div>

 	</div>	

 	<div class="col-sm-3">
 {{vehicle.tmv}}


 	</div>	

 	<div class="col-sm-3">

 	</div>
</div>


	<button ng-click="decrease()">Prev</button>
	<button ng-click ="increase()">Next</button>

</section>	




<section>
<form>
<input type="text" placeholder="search" ng-model="inquiry.email" />
<input ng-model="inquiry.name" type="text">
</form>
<button ng-click = "purchaseVehicle()" type="submit" class="btn btn-success">Purchase Vehicle!</button>



<md-dialog>
  <md-dialog-content layout="column" layout-align="start center">

   <md-input-container>
       <label>Email</label>
	   <input type="text" ng-model="inquiry.email">
   </md-input-container>

   <md-input-container>
      <label>Name</label>
      <input ng-model="inquiry.name" type="text">
   </md-input-container>

  </md-dialog-content>
</md-dialog>
</section> -->
